body {
	text-align: center; 
}

.error {color: red;}


th {
font-family: Arial, Helvetica, sans-serif;
font-size: .7em;
color: #FFF;
padding: 2px 6px;
border-collapse: separate;
border: 1px solid #000;
background-color: #4CAF50;
color: white;
}

td {
font-family: Arial, Helvetica, sans-serif;
font-size: .6em;
padding-top: 20px;
}



table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}
